In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import os
import pandas as pd
import time
import datetime
import re
import sqlite3 as lite

# Data Collection and Integration

In [2]:
url = 'http://web.mta.info/developers/turnstile.html'
chromedriver = "/Users/Miya/Downloads/chromedriver.exe"
os.environ["webdriver.chrome.driver"] = chromedriver
driver = webdriver.Chrome(chromedriver)
driver.get(url)
html_source = driver.page_source
soup = BeautifulSoup(html_source, 'html.parser')


# extract data link
pattern = re.compile('^data.')
data_list =  []
for link in soup.find_all('a', href=True):
    if re.match(pattern,link['href']):
        data_list.append('http://web.mta.info/developers/'+link['href'])

In [3]:
#check: data should range from 05/05/2010 to 04/22/2017
print(data_list[0])
print(data_list[-1][-10:-4])

http://web.mta.info/developers/data/nyct/turnstile/turnstile_170422.txt
100505

Two data schemas for before and after 10/18/14. Therefore, we needs to locate from where schema changes

In [5]:
for i, v in enumerate(data_list):
    if v[-10:] == '141011.txt':
        print(i)

132

In [4]:
data_list_prior = data_list[132:]
data_list_post = data_list[:132]

let us create two tables to store the data

In [ ]:
conPost = lite.connect('post.db')
conPre = lite.connect('pre1018.db')

**A.** Collect and integrate data ** AFTER** 10/18/14

In [ ]:
record_cnt = 0  
for link in data_list_post:
    data = pd.read_table(link, sep=',')
    print('%s:%s rows %s columns' % (link[-10:-4],data.shape[0], data.shape[1])) #printing out values makes me feel safe....
    record_cnt += data.shape[0]
    data.to_sql(name='post', con=conPost, flavor='sqlite', if_exists='append')

Check we don't miss anything

In [23]:
with conPost:
    cur = conPost.cursor()
    cur.execute("""select count(*) from post""")
    cnt = cur.fetchall()
    print(cnt)
    print(record_cnt)

[(25304899,)]
25304899

**B.** Collect and integrate data ** BEFORE** 10/18/14

In [ ]:
record_cnt = 0 

col_names = ["C/A","UNIT","SCP","DATE","TIME","DESC","ENTRIES","EXITS"]
for link in data_list_prior:    
    data = pd.read_table(link, sep=',',header = None,usecols = [0,1,2,3,4,5,6,7],names = col_names)
    print('%s:%s rows %s columns' % (link[-10:-4],data.shape[0], data.shape[1]))
    record_cnt += data.shape[0]
    data.to_sql(name='pre1018', con=conPre, flavor='sqlite', if_exists='append')

with conPre:
    cur = conPre.cursor()
    cur.execute("""select count(*) from pre1018""")
    cnt = cur.fetchall()

In [14]:
print(cnt)
print(record_cnt)

[(6747078,)]
6747078

In [69]:
col_names = ["UNIT",'C/A','STATION','LINENAME','DIVISION']
remote = pd.read_excel("http://web.mta.info/developers/resources/nyct/turnstile/Remote-Booth-Station.xls", names=col_names).drop_duplicates(['UNIT','C/A'])
remote.to_sql(name='remote', con=conPre, flavor='sqlite', if_exists='replace')

with conPre:
    cur = con.cursor()
    cur.execute("""select count(*) from remote""")
    cnt = cur.fetchall()
    print(cnt)

[(768,)]

In [71]:
with conPre:
    cur = con.cursor()
    cur.execute("""select count(*) from pre1018 left join remote on pre1018.UNIT = remote.UNIT AND pre1018.[C/A] = remote.[C/A] """)
    join_cnt = cur.fetchall()
    print(join_cnt)

[(6747078,)]

In [76]:
with conPre:
    cur = con.cursor()
    cur.execute("""Create table prior as select * from pre1018 left join remote on pre1018.UNIT = remote.UNIT AND pre1018.[C/A] = remote.[C/A]""")
    #preJoin = cur.fetchall()

Now we have two databases: post.db and pre1018.db

1. **post.db** has **one** table called **post**, which stores complete information.

2. **pre1018.db** has **three** tables called **pre1018,remote and prior**. 

3. pre1018 and prior joined according to **C/A(BOOTH) and UNIT**, which gives us table prior. 

4. Table **prior** stores all information we need.

# Data Analysis

1. Which station has the most number of units?

In [ ]:
con = lite.connect('post.db')
with con:
    cur = con.cursor()
    cur.execute("""select station, count(unit) from post group by station order by count(unit) desc limit 1""")
    top_station = cur.fetchall()
    print('%s has the most number of units' % top_station)

In [6]:
pd.read_table('http://web.mta.info/developers/data/nyct/turnstile/turnstile_100505.txt', sep=',')

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/15/2017,00:00:00,REGULAR,6136580,2078941
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/15/2017,04:00:00,REGULAR,6136613,2078947
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/15/2017,08:00:00,REGULAR,6136639,2078987
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/15/2017,12:00:00,REGULAR,6136799,2079109
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/15/2017,16:00:00,REGULAR,6137076,2079173
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/15/2017,20:00:00,REGULAR,6137520,2079204
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/16/2017,00:00:00,REGULAR,6137732,2079231
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/16/2017,04:00:00,REGULAR,6137757,2079236
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/16/2017,08:00:00,REGULAR,6137784,2079258
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/16/2017,12:00:00,REGULAR,6137867,2079326
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/16/2017,16:00:00,REGULAR,6138055,2079367
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/16/2017,20:00:00,REGULAR,6138260,2079404
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/17/2017,00:00:00,REGULAR,6138379,2079441
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/17/2017,04:00:00,REGULAR,6138390,2079448
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/17/2017,08:00:00,REGULAR,6138426,2079547
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/17/2017,12:00:00,REGULAR,6138557,2079791
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/17/2017,16:00:00,REGULAR,6138883,2079841
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/17/2017,20:00:00,REGULAR,6139650,2079897
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/18/2017,00:00:00,REGULAR,6139843,2079918
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/18/2017,04:00:00,REGULAR,6139864,2079924
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/18/2017,08:00:00,REGULAR,6139915,2080024
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/18/2017,12:00:00,REGULAR,6140164,2080268
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/18/2017,16:00:00,REGULAR,6140572,2080353
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/18/2017,20:00:00,REGULAR,6141533,2080425
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/19/2017,00:00:00,REGULAR,6141801,2080444
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/19/2017,04:00:00,REGULAR,6141834,2080447
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/19/2017,08:00:00,REGULAR,6141902,2080567
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/19/2017,12:00:00,REGULAR,6142121,2080832
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/19/2017,16:00:00,REGULAR,6142440,2080913
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/19/2017,20:00:00,REGULAR,6143374,2080991
...,...,...,...,...,...,...,...,...,...,...,...
197331,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/16/2017,21:00:00,REGULAR,5554,295
197332,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/17/2017,01:00:00,REGULAR,5554,295
197333,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/17/2017,05:00:00,REGULAR,5554,295
197334,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/17/2017,09:00:00,REGULAR,5554,295
197335,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/17/2017,13:00:00,REGULAR,5554,295
197336,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/17/2017,17:00:00,REGULAR,5554,295
197337,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/17/2017,21:00:00,REGULAR,5554,295
197338,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/18/2017,05:00:00,REGULAR,5554,295
197339,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/18/2017,09:00:00,REGULAR,5554,295
197340,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/18/2017,13:00:00,REGULAR,5554,297
197341,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/18/2017,17:00:00,REGULAR,5554,297
197342,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/18/2017,21:00:00,REGULAR,5554,297
197343,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/19/2017,01:00:00,REGULAR,5554,297
197344,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/19/2017,05:00:00,REGULAR,5554,297
197345,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/19/2017,09:00:00,REGULAR,5554,297
197346,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/19/2017,13:00:00,REGULAR,5554,297
197347,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/19/2017,17:00:00,REGULAR,5554,297
197348,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/19/2017,21:00:00,REGULAR,5554,297
197349,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/20/2017,01:00:00,REGULAR,5554,297
197350,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/20/2017,05:00:00,REGULAR,5554,297
197351,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/20/2017,09:00:00,REGULAR,5554,297
197352,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/20/2017,13:00:00,REGULAR,5554,297
197353,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/20/2017,17:00:00,REGULAR,5554,297
197354,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/20/2017,21:00:00,REGULAR,5554,297
197355,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/21/2017,01:00:00,REGULAR,5554,297
197356,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/21/2017,05:00:00,REGULAR,5554,297
197357,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/21/2017,09:00:00,REGULAR,5554,297
197358,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/21/2017,13:00:00,REGULAR,5554,297
197359,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/21/2017,17:00:00,REGULAR,5554,297
197360,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/21/2017,21:00:00,REGULAR,5554,297

In [6]:
col_names = ["C/A","UNIT","SCP","DATE1","TIME1","DESC1","ENTRIES1","EXITS1","DATE2",
             "TIME2","DESC2","ENTRIES2","EXITS2","DATE3","TIME3","DESC3","ENTRIES3",
             "EXITS3","DATE4","TIME4","DESC4","ENTRIES4","EXITS4","DATE5","TIME5","DESC5",
             "ENTRIES5","EXITS5","DATE6","TIME6","DESC6","ENTRIES6","EXITS6","DATE7","TIME7",
             "DESC7","ENTRIES7","EXITS7","DATE8","TIME8","DESC8","ENTRIES8","EXITS8"]
pd.read_table('http://web.mta.info/developers/data/nyct/turnstile/turnstile_131109.txt', sep=',',
              header = None,usecols = [0,1,2,3,4,5,6,7])#names = col_names)

           0     1         2         3         4           5        6        7
0       A002  R051  02-00-00  11-02-13  00:00:00     REGULAR  4343831  1484036
1       A002  R051  02-00-00  11-03-13  07:00:00     REGULAR  4344869  1484285
2       A002  R051  02-00-00  11-04-13  15:00:00     REGULAR  4346138  1484918
3       A002  R051  02-00-00  11-05-13  23:00:00     REGULAR  4348999  1485481
4       A002  R051  02-00-00  11-06-13  11:02:30   DOOR OPEN  4349231  1485833
5       A002  R051  02-00-00  11-07-13  03:00:00     REGULAR  4350818  1486029
6       A002  R051  02-00-00  11-08-13  11:00:00     REGULAR  4352754  1486922
7       A002  R051  02-00-01  11-02-13  00:00:00     REGULAR  4081675   889173
8       A002  R051  02-00-01  11-03-13  07:00:00     REGULAR  4082588   889354
9       A002  R051  02-00-01  11-04-13  15:00:00     REGULAR  4083819   889736
10      A002  R051  02-00-01  11-05-13  23:00:00     REGULAR  4086084   890071
11      A002  R051  02-00-01  11-07-13  07:00:00     REGULAR  4087380   890415
12      A002  R051  02-00-01  11-08-13  15:00:00     REGULAR  4089149   890882
13      A002  R051  02-03-00  11-02-13  00:00:00     REGULAR   207561   731309
14      A002  R051  02-03-00  11-03-13  07:00:00     REGULAR   208191   732648
15      A002  R051  02-03-00  11-04-13  15:00:00     REGULAR   208838   735788
16      A002  R051  02-03-00  11-05-13  23:00:00     REGULAR   209851   739111
17      A002  R051  02-03-00  11-07-13  07:00:00     REGULAR   210433   741719
18      A002  R051  02-03-00  11-08-13  15:00:00     REGULAR   210820   745796
19      A002  R051  02-03-01  11-02-13  00:00:00     REGULAR  3975422  6197337
20      A002  R051  02-03-01  11-03-13  07:00:00     REGULAR  3976874  6198934
21      A002  R051  02-03-01  11-04-13  15:00:00     REGULAR  3978612  6202258
22      A002  R051  02-03-01  11-05-13  23:00:00     REGULAR  3981077  6205546
23      A002  R051  02-03-01  11-06-13  11:13:36   DOOR OPEN  3981447  6206640
24      A002  R051  02-03-01  11-07-13  03:00:00     REGULAR  3982868  6208055
25      A002  R051  02-03-01  11-08-13  11:00:00     REGULAR  3984769  6211439
26      A002  R051  02-03-02  11-02-13  00:00:00     REGULAR  3707535  5107583
27      A002  R051  02-03-02  11-03-13  07:00:00     REGULAR  3708931  5108873
28      A002  R051  02-03-02  11-04-13  15:00:00     REGULAR  3710658  5111397
29      A002  R051  02-03-02  11-05-13  23:00:00     REGULAR  3712934  5114164
...      ...   ...       ...       ...       ...         ...      ...      ...
29814  TRAM2  R469  00-00-01  11-07-13  04:00:00     REGULAR   127351     1358
29815  TRAM2  R469  00-00-01  11-08-13  04:00:00  RECOVR AUD   128825     1374
29816  TRAM2  R469  00-03-00  11-02-13  01:00:00     REGULAR   113743     4924
29817  TRAM2  R469  00-03-00  11-03-13  04:00:00     REGULAR   114307     4941
29818  TRAM2  R469  00-03-00  11-04-13  12:00:00     REGULAR   114940     4969
29819  TRAM2  R469  00-03-00  11-05-13  16:00:00     REGULAR   115311     4972
29820  TRAM2  R469  00-03-00  11-06-13  11:26:03       LOGON   115483     4978
29821  TRAM2  R469  00-03-00  11-07-13  04:00:00     REGULAR   115675     4999
29822  TRAM2  R469  00-03-00  11-08-13  04:00:00     REGULAR   115859     5007
29823  TRAM2  R469  00-03-01  11-02-13  01:00:00     REGULAR  2386551   367374
29824  TRAM2  R469  00-03-01  11-03-13  04:00:00  RECOVR AUD  2387183   367389
29825  TRAM2  R469  00-03-01  11-04-13  12:00:00     REGULAR  2387911   367405
29826  TRAM2  R469  00-03-01  11-05-13  16:00:00     REGULAR  2388325   367423
29827  TRAM2  R469  00-03-01  11-06-13  11:36:20  DOOR CLOSE  2388525   367436
29828  TRAM2  R469  00-03-01  11-07-13  04:00:00     REGULAR  2388706   367440
29829  TRAM2  R469  00-03-01  11-08-13  08:00:00     REGULAR  2388951   367452
29830  TRAM2  R469  00-05-00  11-02-13  01:00:00     REGULAR     1212       62
29831  TRAM2  R469  00-05-00  11-03-13  08:00:00     REGULAR     1214       62
29832  TRAM2  R469  00-05-00  11-04-13  16:00:00     REGULAR     1214       62
29833  TRAM2  R469  00-05-00  11-05-13  20:00:00     REGULAR     1214       62
29834  TRAM2  R469  00-05-00  11-06-13  12:25:29  DOOR CLOSE     1214       62
29835  TRAM2  R469  00-05-00  11-07-13  08:00:00     REGULAR     1216       62
29836  TRAM2  R469  00-05-00  11-08-13  12:00:00     REGULAR     1218       62
29837  TRAM2  R469  00-05-01  11-02-13  01:00:00     REGULAR     5554      135
29838  TRAM2  R469  00-05-01  11-03-13  08:00:00     REGULAR     5554      135
29839  TRAM2  R469  00-05-01  11-04-13  16:00:00     REGULAR     5554      135
29840  TRAM2  R469  00-05-01  11-05-13  20:00:00     REGULAR     5554      135
29841  TRAM2  R469  00-05-01  11-06-13  12:43:11  DOOR CLOSE     5554      137
29842  TRAM2  R469  00-05-01  11-06-13  16:00:00     REGULAR     5554      138
29843  TRAM2  R469  00-05-01  11-08-13  00:00:00     REGULAR     5554      138

[29844 rows x 8 columns]